html{
  display:grid;
  justify-items: center;
  background-color:var(--cTwo);
  color:var(--cThree);
}
body{
width:80vw;
display:grid;
grid-gap:2em;
text-align: center;
background-color: #f2e9ea;
box-shadow:0 0 2em var(--cThree);
}
img{
display:inline-block;
}
:root{
  --cOne: #f7a6a6;
  --cTwo: #de3535;
  --cThree:#591d1d;/*
  --cOne: #76f58d;
  --cTwo: green;
  --cThree:#05360d;*/
}
footer{
  color:var(--cOne);
  background-color:var(--cThree);
  padding:1em;
  width:100%;

}

/* navigation one*/
.navigation-one{
  display:flex;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width:100%;
  color: var(--cTwo);
}
.navigation-one > .cnav:hover > span{
  color:var(--cOne);
}
span.material-icons{
  font-size:3em;
}
.cnavc{
  visibility: hidden;
  position: absolute;
  width:3em;
  background-color: var(--cOne);
  text-align: center;
  font-weight: bolder;
}
.cnavc > div{
  height:2em;
  margin:0;
  padding:.3em;
  color: var(--cThree);
}
.cnavc > div > p{
  display:none;
  width:10em;
  height:2em;
  margin: -1.5em 0 0 2.6em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  text-align: center;
  padding:.3em;
  font-weight: normal;

}
.cnavc:hover > div:hover > p{
  display:block;
  width:10em;
  background-color: var(--cOne);
  cursor: pointer;

}
.cnav:hover > .cnavc{
 visibility: visible;
 cursor:pointer;
}
.cnavc:hover > div:hover > p:hover{
  color:var(--cTwo);

}
/* navigation two */
.navigation-two{
  display:flex;
  align-items: center;
  justify-content:center;
  color:var(--cTwo);
  border-bottom:.1em solid var(--cOne);
}
.navigation-two > .navtwo-h{
  margin:auto;
}
.navigation-two:hover > .navtwo-h:hover, span:hover{
  color:var(--cThree);
}
@media screen and (min-width: 960px){
  .navigation-two > .navtwo-h{
  margin: 0 1em;
  }
}
/* buttons */
.buttons{
  display:flex;
  justify-content: space-around;
  align-items: center;
  color:var(--cThree);
}
.button-one{
  border: .2em solid var(--cThree);
  border-radius: 3em;
  padding:.7em;
  display:flex;
  align-items: center;
  justify-content: center;
  width:125px;
  background-color: inherit;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  box-shadow:
  2px 2px 5px var(--cThree),
  5px 5px 8px var(--cThree);


}
.button-one:hover{
  color:var(--cTwo);
  cursor: grab;
}
.button-one:active{
  box-shadow: none;
  transform:scale(.98);
}
.button-two{
  width:5em;
  height:3em;
  border: .1em solid var(--cThree);
  border-radius: 3em;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding:.4em;
}
.btwo-c{
  width:2em;
  height:2em;
  border-radius:2em;
  background-color: var(--cThree);
}
.button-three {
 position: relative;
 margin: 0;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}
.button-three:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: var(--cOne);
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}
.button-three span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: var(--cThree);
}
.button-three:hover:before {
 width: 100%;
 background: var(--cOne);
}
.button-three:active {
 transform: scale(0.95);
}
.button-two:active .btwo-c:active{
  background-color: var(--cOne);
  cursor: grab;
}
.button-two:active{
  align-items: flex-end;
}
.button-four {
 border: none;
 display: block;
 position: relative;
 padding: 0.7em 2.4em;
 background: var(--cOne);
 cursor: pointer;
 user-select: none;
 overflow: hidden;
 color: var(--cTwo);
 font-family: 'Helvetica' sans-serif;
 font-weight: bold;
 z-index: 1;
}

.button-four span {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: transparent;
 z-index: -1;
 border: 4px solid var(--cTwo);
}

.button-four span::before {
 content: "";
 display: block;
 position: absolute;
 width: 8%;
 height: 500%;
 background: var(--cOne);
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(-60deg);
 transition: all 0.3s;
}

.button-four:hover span::before {
 transform: translate(-50%, -50%) rotate(-90deg);
 width: 100%;
 background: var(--cTwo);
}

.button-four:hover {
 color: var(--cOne);
}

.button-four:active span::before {
 background: var(--cThree);
}

/* typography */
.typography{
  display:flex;
  justify-content: space-around;
  margin:1em;
}
.t-one:hover{
  background: -webkit-linear-gradient(right, var(--cTwo), var(--cOne));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 2s;
}
.t-two{
  font-family:Courier New;
  color:var(--cThree);
  text-shadow:5px 5px 3px var(--cOne),
              3px 3px var(--cTwo);
}
.t-three{
  color: var(--cOne);
  text-transform:uppercase;
}
.t-three:hover{
  text-transform: none;
}
.t-four{
  color: var(--cTwo);
  background-color: black;
  padding:.4em;
  animation: flicker 1.5s infinite alternate;
  font-family:'Nosifer', cursive;
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px var(--cOne),
    0 0 10px var(--cOne),
    0 0 21px var(--cOne),
    0 0 42px var(--cThree),
   0 0 82px var(--cThree),
   0 0 92px var(--cThree),
   0 0 102px var(--cThree),
   0 0 151px var(--cThree);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@media screen and (max-width:960px){
  .typography {
    display:flex;
    flex-direction: column;

  }
}

/* media cards */
.media-cards{
  display:flex;
  flex-direction: column;
  align-items: center;

}
.media-card-one{
  display:flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width:70%;
  height:auto;
  margin:0 0 1em 1em;
  border:.1em solid var(--cThree);
  box-shadow:
   2px 2px 5px var(--cTwo),
   10px 10px 5px var(--cThree);
  border-radius:1em;
  padding:1em;

}
.media-card-one > h1, p, button{
  margin:.4em;
  align-self: center;
  color:var(--cThree);
}
@media screen and (min-width:960px){
  .media-card-one > figure >img{
    height:10em;
  }
  .media-card-two > figure >img{
    height:10em;
  }
  .media-card-one{
    width:30vw;
  }
.media-cards{
  justify-content:space-around;
 }
 .media-card-two > p{
   font-size:3ch;
   padding:0 3em;
   }
}
.media-card-two{
  margin:0 0 1em 1em;
  border-right:.1em solid var(--cThree);
  border-bottom:.1em solid var(--cThree);
  border-radius:1em;
  width:70%;
  height:auto;
  overflow: hidden;
  display:grid;
  grid-template-areas:
  "figure title"
  "figure para"
  "figure button";
  box-shadow:
  1px 1px 1px var(--cThree),
  3px 3px 5px var(--cThree),
  10px 10px 10px var(--cThree),
  0 0 20px var(--cThree);
  padding:1em;

}

}
.media-card-two > figure > img{
  height:auto;
}
.media-card-two > figure{
  grid-area:figure;
  margin:1em;
  align-self: center;
}
.media-card-two > .mcname{
  grid-area:title;
  margin:.4em 4em;
  text-align: left;
  color:var(--cThree);
}
.media-card-two > p{
  grid-area:para;
  text-align: left;

}.media-card-two > button{
  grid-area:button;
  margin:.1em auto .4em 5em;
}
